<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Pokedex</title>
  </head>
  <body>
    
    <nav>
      
      <ul>
        <li><img src="https://1.bp.blogspot.com/_KBmmkCxTLY8/TMBfCU6xtBI/AAAAAAAAAFI/Ia5W4Suucww/s1600/kawax-pokeball-3097.png" alt="pokebola"></li>
        <li><a href="/home"><h1>Pokedéx</h1></a></li>
        <li><a href="#cadastro">Cadastro</a></li>
        <li><a href="#cards">Pokemons</a></li>
        
      </ul>
      
    </nav>
    
    <header>

      <img src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/Pokemon-banner.jpg?q=50&fit=contain&w=960&h=500&dpr=1.5" alt="banner">
      
    </header>
    <main>

      <section id="cadastro">


        <img src="https://camo.githubusercontent.com/5d782bc05a528103a38976ddb69634c4fa3603014eb3c69b7adc764213a4072f/68747470733a2f2f696d672e72616e6b6564626f6f73742e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031362f30372f506f6b656d6f6e2d476f2d506f6b2543332541396465782d333030783232392e706e67" alt="imagem da Pokedex">
        <div>

          <% if (pokemon == undefined) { %>
            <h2>Cadastre um novo Pokemon.</h2>
            <form id="cadastro__form" action="/create" method="post">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" />
    
              <label for="tipo">Tipo:</label>
              <input type="text" id="tipo" name="tipo" />
    
              <label for="Imagem">Imagem:</label>
              <input type="text" id="imagem" name="imagem" />
    
              <button id="btnCadastrar" type="submit">Cadastrar</button>
            </form>
            <% }else { %>
            <h2>Atualize o Pokemon</h2>
    
            <form id="cadastro__form" action = "/update/<%= pokemon.id %>" method="post" >
              
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" value="<%= pokemon.nome %>"/>
              
              <label for="tipo">Tipo:</label>
              <input type="text" id="tipo" name="tipo" value="<%= pokemon.tipo %> "/>
              
              <label for="Imagem" >Imagem:</label>
              <input type="text" id="imagem" name="imagem" value="<%= pokemon.imagem %>"/>
              
              <button id="btnCadastrar" type="submit">Atualizar</button>
            </form>
            <% } %>



        </div>
         
      </section>

        
        
        
      <section id="cards">

        <h2>Lista de Pokemons</h2>

        <% pokedex.forEach((pokemon) => { %>

        <div class="card">
          <img src="<%= pokemon.imagem %>" alt="" />
          <h2><%= pokemon.nome %></h2>
          <p>Tipo: <%= pokemon.tipo %></p>
          <p>ID: <%= pokemon.id %></p>
          <a href="/detalhes/<%= pokemon.id %>">Editar</a>
        </div>

        <% }) %>
      </section>

      
    </main>
    <footer>
      <p>Todos os direitos reservados para &copy Lucas Viccari</p>
      <p>Dados de referência tirados de <a target="_blank" href="https://www.pokemon.com/br/pokedex/">Pokedex</a></p>
    </footer>
  </body>
</html>
